@font-face {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica'),
    url(../assets/fonts/HelveticaNeue/Helvetica-Neue-LT-65-Medium.woff)
      format('ttf');
}
