:root {
  --color-text-dark-black: rgba(13, 12, 34, 1);
  --color-text-medium-black: rgba(61, 61, 78, 1);

  --color-text-dark-gray: rgba(110, 109, 122, 1);
  --color-text-medium-gray: rgba(255, 255, 255, 1);
  --color-text-light-gray: rgba(158, 158, 167, 1);
  --color-text-inverted: rgba(255, 255, 255, 1);

  --color-fill: rgba(0, 0, 0, 1);

  --color-fill-gray: rgba(243, 243, 244, 1);

  --color-button-accent: rgba(112, 94, 224, 1);
  --color-button-muted: rgba(13, 12, 34, 0.05);

  --color-hero: rgba(249, 248, 253, 1);
  --color-footer: rgba(250, 250, 251, 1);
}
